HOST=localhost
PORT=3000

PGUSER=your_pg_user
PGPASSWORD=your_pg_password
PGDATABASE=openjob
PGHOST=localhost
PGPORT=5432

ACCESS_TOKEN_KEY=your_access_token_secret_key
REFRESH_TOKEN_KEY=your_refresh_token_secret_key
